$border-color : #17B978;
$Button-color:  #086972;



.search-form-container {
   max-width: 960px;
   margin: 30px auto;
   margin-top: 2%;
   

   .input-form {
     margin-left: 14%;
     padding: 15px 10px;
     border: 1px solid $border-color;
     border-radius: 5px;
     font-size: 20px; 
     width: 70%;
     
   }


  .input-form {
      @media (max-width: 900px) {
         margin-left: 20%;
      }
      @media (max-width: 800px) {
         margin-left: 10%;
         width: 75%;
      }

      @media (max-width:500px) {
       margin-left: 25px;
      width: 70%;
      margin-left: 14%;
    }

  }


   .title {
       text-align: center;
       text-transform: capitalize;
       margin-bottom: 10px;
   }

   .search-button {
    padding: 16px 10px; 
    color: white;
    border: none;
    border-radius: 2px;
     background-color: $Button-color;
   }
}