$header-color :#071A52 ;
$header-text-color : #17B978;

 .header {
     background-color: $header-color;
     width: 100vw;
     height: 70px;
    position: sticky; 
    top: 0;
    z-index: 1;

}

.logo {
    h2 {
        color: $header-text-color;
        padding: 15px 0px 15px 15px;
        text-transform: capitalize;
    }
}